$white: #ffffff;
$oil: #333333;
$jet: #222222;
$black: #000000;

$buff: #f3ff9c;
$yellow: #f0ff00;
$sunglow-light: #ffec00;
$sunglow: #fec433;
$sunglow-dark: #e5a300;

$sea-buckthorne-light: #f3bd8d;
$sea-buckthorne: #f79237;
$sea-buckthorne-cool: #bf722c;
$sea-buckthorne-mid: #8f5520;
$sea-buckthorne-dark: #6b390b;
$sea-buckthorne-darker: #432103;

$french-rose-light: #ec86a6;
$french-rose: #f05284;
$french-rose-dark: #b43b61;

$denim-light: #6ea2c1;
$denim: #1883c2;
$denim-dark: #104f75;

$azure-lighter: #7a9bd1;
$azure-light: #597ab0;
$azure: #2b5cab;
$azure-mid: #234781;
$azure-dark: #1b3a6c;
$azure-darker: #0a1f41;

$vivid-violet-light: #906c90;
$vivid-violet-cool: #975598;
$vivid-violet: #913192;
$vivid-violet-mid: #781d78;
$vivid-violet-dark: #521d53;
$vivid-violet-darker: #320b32;

$lighter-gray: #f9f9f9;
$light-gray: #e1e1e1;
$mid-gray: #a9aaa9;
$warm-gray: #9b9b9b;
$dark-gray: #4a4a4a;

$cool-blue: #507cc0;
$light-blue: #64ccf1;
$pale-red: #df4930;