
@import 'util/math';
@import 'util/unit';
@import 'util/value';
@import 'util/direction';
@import 'util/color';
@import 'util/selector';
@import 'util/flex';
@import 'util/breakpoint';
@import 'util/mixins';
@import 'util/typography';
@import 'common/settings';
@import 'common/font';

@import 'component/appbar';
@import 'component/timetablecard';
@import 'component/notfound';


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v37/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2"); }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased; }
html{
    height: 100%;
}

body{
    margin:0 auto;
    overflow: scroll;
    position: relative;
    @include breakpoint(large xlarge){
        background:$jet !important;
    }
    height: 100%; 
}

#root{
    background:$lighter-gray;
    margin:0 auto;
    padding-top: 4.5em;
    @include breakpoint(large xlarge) {
        
        width:50%;
    }
    min-height: 100%;
    height: auto;
}